* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    transition: all .3s linear;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --orange-color: #E95A08;
    --text-dark-color: #000000;
    --text-light-color: rgba(0, 0, 0, 0.5);
    --text-white-color: #ffffff;
    --font-family-inter: "Inter", sans-serif;
    --second-family-noto: "Noto Serif", sans-serif;

}

.container {
    max-width: 1140px;
    margin: 0 auto;

}

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.logo {
    width: 135px;
    height: 82px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

nav li a {
    font-family: var(--font-family-inter);
    font-weight: 400;
    font-size: 16px;
    color: var(--text-light-color);
}

nav .active a {
    font-family: var(--font-family-inter);
    font-weight: 700;
    font-size: 16px;
    color: var(--text-dark-color);
}

nav .curt a i {
    margin-right: 10px;
}

nav .curt a {
    font-family: var(--font-family-inter);
    font-weight: 400;
    font-size: 16px;
    color: var(--text-dark-color);
}

.hero {
    margin-top: 120px;
}

.hero .hero-content {
    display: flex;
    flex-wrap: wrap;


}

.hero-text {
    width: 50%;
    margin-top: 62px;
}

.hero-text h1 {
    font-family: var(--second-family-noto);
    font-weight: 700;
    font-size: 65px;
    color: var(--orange-color);
}

.hero-text h1 span {
    font-family: var(--second-family-noto);
    color: var(--text-dark-color);
}

.hero-text p {
    font-family: var(--font-family-inter);
    font-weight: 400;
    font-size: 22px;
    color: var(--text-light-color);
    margin-top: 13px;
}

.hero-img {
    width: 50%;
}

.hero-img img {
    width: 100%;
    height: 355px;
}

.plants {
    margin-top: 120px;
}

.title {
    font-family: var(--second-family-noto);
    font-size: 50px;
    color: var(--text-dark-color);
    text-align: center;
}

h1 span {
    color: var(--orange-color);
}

.sub-title {
    font-family: var(--font-family-inter);
    font-size: 22px;
    color: var(--text-light-color);
    text-align: center;
    padding: 0px 126px;
    margin-top: 16px;
}

.plant {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    margin-top: 49px;
}

.plant .item {
    width: 100%;
    text-align: center;
    background-color: var(--text-white-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;


}

.plant .item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.plant .item img {
    width: 100%;
    max-height: 322px;

}

.plant .item .title {
    width: 100%;
    font-family: var(--font-family-inter);
    font-size: 22px;
    font-weight: 400;
    color: var(--text-dark-color);
    margin-top: 30px;

}

.plant .item .price {
    width: 100%;
    font-family: var(--font-family-inter);
    font-size: 22px;
    font-weight: 700;
    color: var(--text-dark-color);
    margin-top: 20px;
}

.plant .item button {
    width: 100%;
    margin-top: 30px;
    border: none;
    padding: 16px 0px;
    font-family: var(--font-family-inter);
    font-size: 16px;
    font-weight: 600;
    color: var(--text-white-color);
    background-color: var(--orange-color);
    cursor: pointer;
}

.plant .item button:hover {
    font-size: 18px;
    background-color: var(--text-dark-color);
}



.flower-store {
    margin-top: 210px;
    position: relative;

}

.store-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
}

.store-text {
    width: 100%;
    margin-top: 40px;
}

.store-text h2 {
    font-family: var(--second-family-noto);
    font-size: 50px;
    font-weight: bold;
}

.store-text .sub-text ul {
    margin-left: 25px;
}

.store-text .sub-text ul li {
    list-style-type: disc;
    margin-top: 20px;
    font-family: var(--font-family-inter);
    font-size: 22px;
    color: var(--text-light-color);
    padding-right: 30px;

}

.store-img {
    width: 100%;
    height: 600px;
}

.badge {
    width: 286px;
    height: 286px;
    position: absolute;
    top: -127px;
    left: 347px;


}

.badge img {
    width: 100%;
    height: 100%;
}

.deals {
    margin-top: 120px;
}

.latest-items {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "item1 item2 item2"
        "item3 item2 item2";
    gap: 20px;
}

.item {
    width: 100%;

}

.latest-items .item img {
    width: 100%;
    border-radius: 14px;
    filter: blur(2px);
    filter: brightness(50%);

}

.item1 {
    grid-area: item1;
    position: relative;
}

.item2 {
    grid-area: item2;
    position: relative;

}

.item3 {
    grid-area: item3;
    position: relative;

}

.item1 .item1-discount {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item2 .item2-discount {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item3 .item3-discount {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-text {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-family: var(--second-family-noto);
    font-size: 20px;
    font-weight: bold;
    color: var(--text-white-color);
}

.inner-btn {
    text-align: center;
    font-family: var(--font-family-inter);
    font-size: 18px;
    font-weight: 500;
    color: var(--text-white-color);
    border: none;
    border-bottom: 2px solid var(--text-white-color);
    background: none;
    cursor: pointer;
}

.search {
    margin-top: 120px;
    background-image: url(assets/news-letter-bg.png);
    width: 100%;
    height: 533px;
    background-size: cover;
    text-align: center;
}

.serch-content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.serch-content h2 {
    font-family: var(--second-family-noto);
    font-weight: 700;
    font-size: 50px;
    color: var(--text-white-color);
    margin-bottom: 23px;
}

.email-input {
    width: 80%;
    height: 50px;
    display: flex;
}

.email-input input {
    width: 80%;
    height: 100%;
    background-color: var(--text-white-color);
    border: none;
    padding-left: 10px;
    font-family: var(--font-family-inter);
    font-size: 16px;
    outline: none;
}

.email-input button {
    width: 20%;
    height: 100%;
    background-color: var(--orange-color);
    border: none;
    cursor: pointer;
    font-family: var(--font-family-inter);
    font-size: 16px;
    font-weight: bold;
    color: var(--text-white-color);
}

.footer-content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;


}

.footer-content .footer-text {
    width: 340px;
    margin-right: 100px;
}

.footer-content .footer-text img {
    width: 135px;
    height: 82px;
}

.footer-content .footer-text p {
    font-family: var(--font-family-inter);
    font-weight: 400;
    font-size: 22px;
    color: var(--text-light-color);
    margin-top: 16px;
}

.footer-content .right-menu li,
.left-menu li {
    margin-bottom: 26px;
}

.footer-content .right-menu li a,
.left-menu li a {
    font-family: var(--font-family-inter);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--text-light-color);
}

.footer-content .contact img:not(:last-child) {
    width: 36px;
    height: 36px;
    margin-right: 24px;
}